body{
    background-color: #EFEACA;
}

h1{
    font-size: 24px;
    color: black;
    text-align: center;
}

.hidden{
    display: none;
}

#container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #EFEACA;
}

