#intro{
    margin-top: 25px;
}

#introText{
    font-size: 18px;
    color: black;
    display: block;
    text-align: center;
    margin-top: 15px;
}

#logo{
   display: block;
   margin: 0 auto;
   justify-content: center;
   width: 150px;
   filter: drop-shadow(10px 5px 7px #000);
   margin-top: 50px;
   margin-bottom: 50px;
}