.modal-panel{
    width: 310px;
    height: 425px;
    background-color: #F48375;
    position: relative;
    margin: 0 auto; 
    padding-top: 25px;
}

.modal-active{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-foot{
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px; 
}


