#selector{
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 50px;
 }

 .nav-buttons{
     padding: 15px 35px;
     border-radius: 25px;
     border: none;
     cursor: pointer;
     background-color: #9F5F80;
     margin-bottom: 50px;
     font-size: 20px;
     font-family: loos-normal, sans-serif;
     font-weight: 700;
     font-style: normal;
     color: #fff;
 }

 .nav-buttons:hover{
   background-color: #583D72;
}