.fav-img{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.fav-img img{
    border-radius: 100px;
}

.fav-name{
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
}

.fav-fact, .fav-desc{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#instructions{
    text-align: center;
    font-size: 14px;
}